{% extends 'main.html' %}
{% load static %}

{% block title %}Review Art{% endblock %}
{% block content %}

<div class="container my-5">
	<div class="row justify-content-center">
		<div class="card col-12 shadow-sm">
			<div class="card-body container">
				<div class="row justify-content-center">
					<div class="col-6 card-title text-center">
						<h3>{{title}}</h3>
					</div>
					<div class="col-6"></div>
				</div>
				<div class="row justify-content-center mb-3">
					<img class="col-md-6 art-img" src="{{image}}"></img>
					<div class="col-md-6 fs-5">
						<div class="container">
							<div class="row text-center">
								<div class="col-6">
									<span>Contact for commissions: <span class="text-success">{{phone}}, {{email}}</span></span>
								</div>
								<!-- <div class="col-6">
									<span>Latest Bid: $30</span>
								</div>
								<div class="col-12 mb-5 mt-4">
									<form>
										<input type="text" class="form-control mb-3" placeholder="Place Your Bid">
										<input type="submit" value="Bid" class="btn btn-dark w-100">
									</form>
								</div> -->
								<!-- <div class="col-6">
									<span>Listing Price: <span class="text-success">$15</span></span>
								</div> -->
								<div class="col-12" style="font-size: 0.95em;">
                                    <h5>Artist</h5>
									<p>{{artist}}</p>
									<h5>Description</h5>
									<p>{{description}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-6 text-center">
						<span class="pe-2 fs-5">
							<!-- <i class="fa-solid fa-heart"></i> -->
							<i class="fa-regular fa-heart"></i>
							<span id="like-number">6</span>
						</span>
						<span class="text-danger fs-5">(Not for Sale)</span>
						<!-- <span class="text-success fs-5">(Auction)</span> -->
						<!-- <span class="text-success fs-5">(Spot Sale)</span> -->
					</div>
					<div class="col-md-6"></div>
				</div>
				<div class="row">
					<div class="col-12">
						<section class="bg-light">
						  <div class="container my-5 py-5">
						    <div class="row d-flex justify-content-center">
						      <div class="col-12 text-center mb-4">
						      	<h4>Comments</h4>
						      </div>
						      <div class="col-md-12 col-lg-10 col-xl-8">
						        <div class="card">
						          <div class="card-body">
						            <div class="d-flex flex-start align-items-center">
						              <img class="rounded-circle shadow-1-strong me-3"
						                src="{% static 'images/user.jpg' %}" alt="avatar" width="60"
						                height="60" />
						              <div>
						                <h6 class="fw-bold text-primary mb-1">Lily Coleman</h6>
						                <p class="text-muted small mb-0">
						                  Jan 2020
						                </p>
						              </div>
						            </div>

						            <p class="mt-3 mb-3">
						              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
						              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						              quis nostrud exercitation ullamco laboris nisi ut aliquip consequat.
						            </p>
						          </div>
						          <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
						            <div class="d-flex flex-start w-100">
						              <img class="rounded-circle shadow-1-strong me-3"
						                src="{% static 'images/user.jpg' %}" alt="avatar" width="40"
						                height="40" />
						              <div class="form-outline w-100">
						                <textarea class="form-control" id="textAreaExample" rows="4"
						                  style="background: #fff;" placeholder="Message"></textarea>
						              </div>
						            </div>
						            <div class="float-end mt-2 pt-1">
						              <button type="button" class="btn btn-primary btn-sm">Post comment</button>
						              <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
						            </div>
						          </div>
						        </div>
						      </div>
						    </div>
						  </div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}