{% extends 'main.html' %}

{% block title %}Dashboard{% endblock %}
{% block content %}
{% for message in messages %}
<div class="alert mt-3 alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<div class="container">
    <div class="row pt-5">
        <div class="col-12">
            <h1 class="ms-4">Your Art</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="container">
                <div class="row">
                {% for detail in details %}
                <div class="col-lg-4 col-md-6 col-12 mb-5">
                    <div class="card shadow-sm" style="width: 18rem;">
                    <img src="{{ detail.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ detail.title|title }}
                        <h6>
                            {% if detail.sale_type == 1 %}
                            ${{ detail.auction_latest_bid }}
                            {% elif detail.sale_type == 2 %}
                            ${{ detail.price }}
                            {% endif %}
                        </h6>
                        <h6 class="text-dark">
                        {% if detail.sale_type == 1 %}
                            Auction
                        {% elif detail.sale_type == 2 %}
                            Spot Sale
                        {% elif detail.sale_type == 3 %}
                            Not for Sale
                        {% endif %}
                        </h6>
                        </h5>
                        <p class="card-text">{{ detail.description }}</p>
                        <a href="{% url 'dlt_post' detail.id %}" class="btn btn-danger">Delete</a>
                        <a href="{% url 'show_art' detail.id %}" class="btn btn-primary">View</a>
                    </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}