{% extends 'main.html' %}

{% block title %}Explore{% endblock %}
{% block content %}

<div class="p-5 mb-5" id="explore-jumbotron">
  <div class="d-flex flex-column h-100 justify-content-center align-items-center">
    <h3 class="mt-3">Explore</h3>
    <div class="d-flex justify-content-center">
      <form class="w-50 mx-4" method="GET" action="{% url 'artSearch' %}">
        <div class="input-group rounded">
          <input type="search" name="artSearch" class="form-control rounded" placeholder="Search Artwork" aria-label="Search" aria-describedby="search-addon" />
          <span class="input-group-text bg-dark text-light border-0" id="search-addon">
            <button type="submit" class="bg-dark text-light border-0"><i class="fas fa-search"></i></button>
          </span>
        </div>
      </form>
      <form class="w-50 mx-4" method="GET" action="{% url 'artistSearch' %}">
        <div class="input-group rounded">
          <input type="search" name="artistSearch" class="form-control rounded" placeholder="Search Artist" aria-label="Search" aria-describedby="search-addon" />
          <span class="input-group-text bg-dark text-light border-0" id="search-addon">
            <button type="submit" class="bg-dark text-light border-0"><i class="fas fa-search"></i></button>
          </span>
        </div>
      </form>
    </div>
    <div class="d-flex mt-3 justify-content-center align-items-center">
      <form class="w-100" method="GET" action="{% url 'typeSearch' %}">
        <div class="input-group rounded">
          <select class="form-select" name="typeSearch">
            <option value="0">--select--</option>
            <option value="1">Auction</option>
            <option value="2">Spot Sale</option>
            <option value="3">Not For Sale</option>
          </select>
          <!-- <input type="search" name="typeSearch" class="form-control rounded" placeholder="Search sale type (auction, spot sale, not for sale)" aria-label="Search" aria-describedby="search-addon" /> -->
          <span class="input-group-text bg-dark text-light border-0" id="search-addon">
            <button type="submit" class="bg-dark text-light border-0">Fillter</button>
          </span>
        </div>
      </form>
    </div>
    <div class="mt-3">
      <h5 ><a href="{% url 'explore' %}" class="text-decoration-none text-white">Clear Filters</a></h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    {% for detail in details %}
    <div class="col-lg-4 col-md-6 col-12 mb-5">
      <div class="card shadow-sm" style="width: 18rem;">
        <img src="{{ detail.image.url }}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">{{ detail.title|title }}
            <h6>by {{ detail.artist.username }}</h6>
            <h6>
                {% if detail.sale_type == 1 %}
                $
                {% if detail.auction.latest_bid != None %}
                {{ detail.auction_latest_bid }}
                {% else %}
                {{ detail.price }}
                {% endif %}
                {% elif detail.sale_type == 2 %}
                ${{ detail.price }}
                {% endif %}
            </h6>
            <h6 class="text-dark">
            {% if detail.sale_type == 1 %}
              Auction
            {% elif detail.sale_type == 2 %}
              Spot Sale
            {% elif detail.sale_type == 3 %}
              Not for Sale
            {% endif %}
            </h6>
          </h5>
          <p class="card-text">{{ detail.description }}</p>
          <a href="{% url 'show_art' detail.id %}" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- <div class="main">
  {% for detail in details %}
    <h5>{{detail.title}}<h5></h5>
    <img src="{{detail.img}}">
    {% if detail.saleType == 1 %}
      <h6>auction</h6>
    {% elif detail.saleType == 2 %}
      <h6>spot sale</h6>
    {% elif detail.saleType == 3 %}
      <h6>not for sale</h6>
    {% endif %}
    <h6>{{detail.artist}}</h6>
    {% if detail.saleType == 1 %}
      <form action="{% url 'show_auction' %}" method="post">
        {% csrf_token %}
        <button>View</button>
        <input type="hidden" value="{{detail.title}}" name="artToView" id="artToView">
      </form>
    {% elif detail.saleType == 2 %}
      <form action="{% url 'show_spot' %}" method="post">
        {% csrf_token %}
        <button>View</button>
        <input type="hidden" value="{{detail.title}}" name="artToView" id="artToView">
      </form>
    {% elif detail.saleType == 3 %}
      <form action="{% url 'show_not_selling' %}" method="post">
        {% csrf_token %}
        <button>View</button>
        <input type="hidden" value="{{detail.title}}" name="artToView" id="artToView">
      </form>
    {% endif %}
  {% endfor %}
</div> -->

{% endblock %}